@{
    ViewData["Title"] = "Victoria";
}

<h2>¡Felicidades, Campeón del Torneo de los Tres Magos!</h2>
<p>Has superado todas las salas y demostrado tu valentía, inteligencia y determinación.</p>
<img src="/img/victoria.jpg" alt="Trofeo del Torneo" style="width:300px;" />
<p>Gracias por jugar. Que la magia te acompañe siempre.</p>
<a href="/Home/Index">Volver al inicio</a>
