@{
    ViewData["Title"] = "¡Ganaste!";
}

<div class="hide-game-header ganaste-full-bg">
    <div class="ganaste-overlay">
        <div class="ganaste-texto">¡Felicidades, Mago o Bruja!</div>
        <div class="ganaste-sub">Has superado todas las salas y demostrado tu valentía, inteligencia y determinación, encontrando el Huevo Dorado<br>¡Eres un verdadero mago de Hogwarts!</div>
        <a href="/Home/Index" class="ganaste-btn">Volver al inicio</a>
    </div>
    <video class="ganaste-video-bg" autoplay muted loop>
        <source src="/video/ganaste.mp4" type="video/mp4">
    </video>
</div>
