@{
    ViewData["Title"] = "Inicio";
}

<section class="Inicio">
    <h1>Torneo de los Tres Magos</h1>
    <p>Biendivenido al desafío mágico. ¿Estás listo?</p>
    <a href='@Url.Action("InstruccionesJuego")'>¿Cómo jugar?</a>
    <p>Abrí la carta para comenzar</p>
    <div class="carta-container">
        <img src="img/cartacerrada.jpg" alt="Carta cerrada" class="carta-base"/>
        <a href='@Url.Action("Ingreso")' class="sello-link">
            <img src="img/clickCarta.jpg" alt="Click para abrir la carta" class="sello-imagen"/>
        </a>
    </div>
</section>
<video autoplay loop muted playsinline id="bg-video" style="position: fixed; right: 0; bottom: 0; min-width: 100vw; min-height: 100vh; width: auto; height: auto; z-index: -1; object-fit: cover;">
    <source src="/video/cartaInicio.mp4" type="video/mp4">
</video>
