@{
    ViewData["Title"] = "Inicio";
}

<div class="Inicio">
    <h1>Torneo de los Tres Magos</h1>
    <p>Biendivenido al desafío mágico. ¿Estás listo?</p>
    <a href='@Url.Action("InstruccionesJuego")'>¿Cómo jugar?</a>
    <p>Abrí la carta para comenzar</p>
    <div class="carta-container">
        <img src="img/cartacerrada.jpg" alt="Carta cerrada" class="carta-base"/>
        <a href='@Url.Action("Ingreso")' class="sello-link">
            <img src="img/clickCarta.jpg" alt="Click para abrir la carta" class="sello-imagen"/>
        </a>
    </div>
</div>
<!--- https://youtu.be/xBAeOTHtZVg?si=sQZGIwFbEyG1RqEN
https://youtu.be/pbXHrJWsqcQ?si=daviACx05szBAjpY
https://youtu.be/oXZN62dWPpY?si=xvZa3qmMARiSuHPs
https://ytbdownload.com/es/home/ ---!--->