@{
    ViewData["Title"] = "Inicio";
}
<nav class="Inicio">
    <h1>Escape Room: Torneo de los Tres Magos</h1>
    <img src="wwwroot/img/hogwarts.jpg" alt="Imagen inicio"/>
    <p>Bienvenido al desafío mágico. ¿Estás listo?</p>
    <a href="/Home/Ingreso">Comenzar</a> 
    <a href="/Home/Integrantes">Integrantes</a>
</nav>