@{
    ViewData["Title"] = "Inicio";
}

<h1>Escape Room: Torneo de los Tres Magos</h1>
<img src="/img/inicio.jpg" alt="Imagen inicio" style="width: 300px;" />
<p>Bienvenido al desafío mágico. ¿Estás listo?</p>
<a href="/Home/Ingreso">Comenzar</a> |
<a href="/Home/Integrantes">Integrantes</a>
