@{
    ViewData["Title"] = "Instrucciones del Juego";
}
<a href="/Home/Index" class="btn-volver-instrucciones">Volver al menú</a>
<img src="/img/fondoInstrucciones.jpg" alt="Fondo Instrucciones" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; min-width: 100vw; min-height: 100vh; width: 100vw; height: 100vh; z-index: -1; object-fit: cover;" />
<div class="Instrucciones hide-game-header">
    <h1>Hola, joven mago o bruja!</h1>
    <p>Tu nombre ha sido arrojado al Cáliz de Fuego y fuiste elegido para participar en el legendario Torneo de los Tres Magos. ¿Estás listo para poner a prueba tu valor, tu ingenio y tus conocimientos mágicos?</p>
    <h2>¿Cómo jugar?</h2>
    <ul>
        <li>Ingresá tu nombre para comenzar la aventura.</li>
        <li>Tenés un tiempo limitado para completar todas las pruebas. ¡Usá tu ingenio y tus conocimientos mágicos!</li>
        <li>Cada sala presenta un desafío único. Solo si lo resolvés correctamente, podrás avanzar a la siguiente.</li>
        <li>Si te equivocás, podés intentarlo de nuevo... pero el tiempo sigue corriendo.</li>
        <li>Si lográs completar todas las salas antes de que se acabe el tiempo… ¡ganás el torneo!</li>
    </ul>
    <p>Usá tu astucia como un Ravenclaw, tu valor como un Gryffindor, tu paciencia como un Hufflepuff y tu ambición como un Slytherin.</p>
    <p class="exitos-harry">ÉXITOS!</p>
</div>