@{
    ViewData["Title"] = "Inicio";
}
<video autoplay muted loop id="videoFondo">
    <source src="~/videos/fondo.mp4" type="video/mp4">
</video>
<div class="Instrucciones">
    <h1>Hola, joven mago o bruja!</h1>
    <p>Tu nombre ha sido arrojado al Cáliz de Fuego y fuiste elegido para participar en el legendario Torneo de los Tres Magos. ¿Estás listo para poner a prueba tu valor, tu ingenio y tus conocimientos mágicos?</p>
    <h2>¿Cómo jugar?</h2>
    <ul>
        <li>Ingresá tu nombre para comenzar la aventura.</li>
        <li>Tenés un tiempo limitado para completar todas las pruebas. ¡Usá tu ingenio y tus conocimientos mágicos!</li>
        <li>Cada sala presenta un desafío único. Solo si lo resolvés correctamente, podrás avanzar a la siguiente.</li>
        <li>Si te equivocás, podés intentarlo de nuevo... pero el tiempo sigue corriendo.</li>
        <li>Si lográs completar todas las salas antes de que se acabe el tiempo… ¡ganás el torneo!</li>
    </ul>
    <p>Usá tu astucia como un Ravenclaw, tu valor como un Gryffindor, tu paciencia como un Hufflepuff y tu ambición como un Slytherin.</p>
    <p>ÉXITOS!</p>
</div>