@{
    ViewData["Title"] = "Sala 1 - Ravenclaw";
}

<div class="sala-ravenclaw">
    <h2>Sala 1 - Ravenclaw</h2>
    <div class="row mt-4">
        <div class="col-12">
            <p>Solo la lógica te guía al final</p>
            <a href='@Url.Action("SalaMemotest")' class="ravenclaw-link">
                <img src="/img/clickRaven.jpeg" alt="Click para abrir memotest" class="ravenclaw-imagen"/>
            </a>
        </div>
    </div>
</div>
