@{
    ViewData["Title"] = "Sala 5 - Laberinto";
}
<h2>Sala 5 - Laberinto</h2>
<p>Elegí una criatura y superá el desafío.</p>

<form method="post">
    <p>Trivia contra la araña:</p>
    <label>¿Qué hechizo hace levitar objetos?</label><br />
    <input type="text" name="respuesta" />
    <button type="submit">Responder</button>
</form>