@{
    ViewData["Title"] = "Sala 1 - Gryffindor";
}

<div class="sala-gryffindor">
    <h2>Sala 1 - Gryffindor</h2>
    <div class="row mt-4">
        <div class="col-12">
            <p>El coraje no es no tener miedo... es entrar igual.</p>
            <a href='@Url.Action("SalaMemotest")' class="gryffindor-link">
                <img src="/img/clickGryff.jpeg" alt="Click para abrir la carta" class="gryffindor-imagen"/>
            </a>
        </div>
    </div>
</div>
