@{
    ViewData["Title"] = "Sala 1 - Slytherin";
}

<div class="sala-slytherin">
    <h2>Sala 1 - Slytherin</h2>
    <div class="row mt-4">
        <div class="col-12">
            <p>Jugá frío, pensá rápido. El poder espera.</p>
            <a href='@Url.Action("SalaMemotest")' class="invisible-button"></a>
        </div>
    </div>
</div>
