@{
    ViewData["Title"] = "Sala 6 - Línea de Tiempo";
}
<h2>Sala 6 - Línea de Tiempo</h2>
<p>Ordená los eventos:</p>

<form method="post">
    <label>Orden correcto:</label><br />
    <select name="respuesta">
        <option value="incorrecta">Batalla → Carta → Cedric</option>
        <option value="correcta">Carta → Cedric → Batalla</option>
        <option value="incorrecta">Cedric → Batalla → Carta</option>
    </select>
    <button type="submit">Enviar</button>
</form>