@{
    ViewData["Title"] = "Sala 1 - Hufflepuff";
}

<div class="sala-hufflepuff">
    <h2>Sala 1 - Hufflepuff</h2>
    <div class="row mt-4">
        <div class="col-12">
            <p>El coraje no es no tener miedo... es entrar igual.</p>
            <a href='@Url.Action("SalaMemotest")' class="hufflepuff-link">
                <img src="/img/clickHuff.jpeg" alt ="Click para abrir memotest" class="hufflepuff-imagen"/>
            </a>
        </div>
    </div>
</div>