@{
    ViewData["Title"] = "Sala 1 - Memotest";
}
<style>
    area {
        cursor: pointer !important;
    }
    area:hover {
        cursor: pointer !important;
    }
    .gryffindor map area {
        cursor: pointer !important;
    }
</style>
<div class="gryffindor">
    <h2>Sala 1 - Memotest</h2>
    <img src="/img/gyffindorscenery.jpg" usemap="#mapaGryffindor" width=100% />
    <map name="mapaGryffindor">
        <area shape="rect" coords="320,400,420,10" href='@Url.Action("Ingreso")' alt="Encontrar juego" style="cursor: pointer;" />
    </map>
    <div id="memotest" style="display:none;">
    <p>Emparejá las cartas relacionadas con Hogwarts.</p>
    <!-- Simulamos un memotest con botones -->
    <form method="post">
        <button name="respuesta" value="correcta">Resolver Memotest</button>
    </form>
    </div>

    <script>
    function mostrarMemotest() {
    document.getElementById("memotest").style.display = "block";
    }
    </script>
</div>
